body,
html {
    margin: 0;
    padding: 0;
    font-family: Inter;
    background-color: #B4CDFE;
}

.container {
    max-width: 700px;
    height: 800px;
    margin: 20px auto;
    border-radius: 50px;
    background-color: #fff;
}

.circle {
    background-color: #153060;
    width: 700px;
    height: 150px;
    border-radius: 50px 50px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: #fff;
    text-align: center;
    margin: 0;
    font-weight: 400;
    font-size: 40px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 22px;
    text-align: left;
    margin: 30px 50px 20px 50px;
}

p {
    color: #153060;
}

.footer {
    text-align: center;
}